doctype html 
html(lang='en')
 head 
   title Logout Page!
   link(rel='stylesheet', href='/css/bootstrap.min.css')
   body 
   
   button type="Submit" . 


   <button type="submit" class="btn btn-success" id="button1">
              Login
            </button>